body {
  font-family: Arial, Helvetica, sans-serif;
}

input {
  font-size: large;
  margin-left: 5px;
}

.app {
  max-width: 1500px;
  margin: auto;
}

.toggled {
  background-color: #eef;
}

button {
  width: 12em;
  height: 2em;
  margin: 10px 5px;
  font-size: medium;
}

.card {
  font-size: larger;
  box-shadow: 5px 5px 10px #aaa;
  border-radius: 1px;
  margin: 10px;
  padding: 15px;
}

.cardcols {
  display: flex;
}

.title {
  flex: 2;
  padding-right: 5px;
  flex-grow: 5;
}

.timeplace {
  flex: 1;
  flex-grow: 2;
}

.tags {
  flex: 1;
  padding-right: 10px;
}

.tag {
  background-color: #f00;
  color: #fff;
  font-size: small;
  padding: 3px 10px;
  display: inline-block;
  border-radius: 8px;
}

.tag-shooting {
  background-color: #a66;
}
.tag-press {
  background-color: #66a;
}
.tag-destruction {
  background-color: #a11;
}
.tag-teargas {
  background-color: #6a6;
}
.tag-killing {
  background-color: #111;
}
.tag-shooting {
  background-color: #aa6;
}
.tag-filming {
  background-color: #6aa;
}
.tag-pepperspray {
  background-color: #888;
}

.tag-child {
  background-color: #a6a;
}

.icons {
  font-size: small;
}

.icons :link {
  text-decoration: none;
}
